attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
confusable-homoglyphs==2.0.2
constantly==15.1.0
cssselect==1.0.1
decorator==4.1.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.9.4
django-appconf==1.0.2
django-avatar==4.0.1
django-birthday==0.1.2
django-crispy-forms==1.6.1
django-registration==2.3
django-termsandconditions==1.1.15
docx==0.2.4
future==0.16.0
futures==3.1.1
google==1.9.3
google-api-python-client==1.6.4
googletrans==2.2.0
goslate==1.5.1
gunicorn==19.7.1
httplib2==0.18.0
idna==2.5
incremental==17.5.0
lxml==4.0.0
oauth2client==4.1.2
olefile==0.44
Pillow==4.2.1
pyasn1==0.3.7
pyasn1-modules==0.1.4
PyDispatcher==2.0.5
pyopenssl==17.0.0
PyPDF2==1.26.0
pysolr==3.6.0
python-docx==0.8.6
pytz==2017.2
queuelib==1.4.2
reportlab==3.4.0
requests==2.17.3
rsa==3.4.2
self==0.0.0
service-identity==17.0.0
setupfiles==0.0.50
six==1.11.0
static3==0.7.0
translate==2.0.0
uritemplate==3.0.0
urllib3==1.21.1
virtualenv==15.1.0
watson-developer-cloud==0.26.0
zope.interface==4.4.1
